

h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 120px;
}

.container-formularios a {
    text-decoration: none;
    color: black;
    font-size:60px;
}

.container-formularios {
    height: 600px;
    background-color: #641293;
    border-radius: 20px;
    margin: 50px 100px 0px 100px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-cachorro {
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.form-gato {
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.titulo{
    background-color: #641293;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 50px;
    border-radius: 20px;
    height: 50px;
    color: white;
}

.imagem{
    height: 400px;
    width: 300px;
    margin: 50px;
    border-radius: 20px;
}

.foto_e_historia{
    background-color: #9549C0;
    border-radius: 50px;
    margin: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.texto{
    color: white;
    align-items: normal;
    margin-right: 75px;
    text-align: justify;
}


.nomeAnimal{
    margin-bottom: 50px;
}

p{
    margin: 10px;
}