main {
    justify-content: space-between;
    padding: 10px;
}
h1{
    background-color: #641293;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 40px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 20px;
    border: 2px solid black;
    height: 50px;
    color: white;
}
.imagens {
    height: 600px;
    border-radius: 20px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imagemdoacao {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.qrcode {
    height: 400px;
    width: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minitexto {
    justify-content: center;
    background-color: #641293;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    margin-left: 420px;
    margin-right: 500px;
    color: white;
    font-size: 18px;
}
