main {
    margin: 2%;
    justify-items: center;
    align-items: center;
}
h1{ 
    background-color: rgb(190, 79, 190);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 20px;
    border: 2px solid black;
    height: 50px;
    width: 25%;
    color: rgb(0, 0, 0);
    margin-bottom: 2%;
}
.imagens {
    height: 80%;
    border-radius: 20px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
}
.imagemdoacao {
    margin-right: 5px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.qrcode {
    margin-left: 5px;
    height: 400px;
    width: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minitexto {
    margin-top: 2%;
    justify-items: center;
    justify-content: center;
    background-color: rgb(190, 79, 190);
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    color: rgb(80, 23, 80);
    font-size: 18px;
}
