* {
    margin: 0;
}

header {
    padding:5px;
    align-items: center;
    background-color: rgb(190, 79, 190);
    justify-content: space-between; 
    display:flex;
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: 3em;
}

header a {
    text-decoration: none;
    color: rgb(80, 23, 80);
    padding: 10px;
}

.logo {
    font-size: 80px;
}

nav {
    font-size: 40px;
}

.sociais {
    float: right;
}


